<div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Staff</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {{!-- <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Signup</li> --}}
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Student</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              
              <form action="/teacher/addstudent" method="post">
                {{!-- <div class="form-group">
                    <label for="exampleInputEmail1">Role ID</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="institutioncode" name="roleid">
                  </div> --}}
                  <div class="form-group">
                    <label for="exampleInputEmail1">Admission Number</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="Admission number" name="admissionnumber" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="first name" name="firstname" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="last name" name="lastname" required>
                  </div>
                   <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Moible</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="phone" name="phone" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Date of Birth</label>
                    <input type="date" class="form-control" id="exampleInputname" placeholder="Date of Birth" name="dob" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="address" name="address" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Father's Name</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="father's name" name="fathername" required>
                  </div>
                   <div class="form-group">
                  <label for="exampleInputEmail1">Father's Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Father's email" name="fatheremail">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Father's Moible</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="phone" name="fathermobile" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mother's Name</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="father's name" name="mothername" required>
                  </div>
                   <div class="form-group">
                  <label for="exampleInputEmail1">Mother's Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Father's email" name="motheremail">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">mother's Moible</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="phone" name="motherphone" required>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">guardian's Name</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="father's name" name="guardianname">
                  </div>
                   <div class="form-group">
                  <label for="exampleInputEmail1">Guardian's Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Father's email" name="guardianemail">
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Guardian's Moible</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="phone" name="guardianphone">
                  </div>

                   {{!-- <div class="form-group">
                    <label for="exampleInputEmail1">Designation</label>
                    <select name="designationid" id="">
                        {{#each desg}}
                        <option value="{{this.designationid}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Role</label>
                    <select name="roleid" id="">
                        {{#each rl}}
                        <option value="{{this.roleid}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Department(for driver select nil)</label>
                    <select name="departmentid" id="">
                      <option value="">Nil</option>
                        {{#each dep1}}
                        <option value="{{this.departmentid}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                  </div> --}}
                  {{!-- <div class="form-group">
                    <label for="exampleInputEmail1">Phone</label>
                    <input type="text" minlength="11" maxlength="11" class="form-control" id="exampleInputname" placeholder="phone" name="phone">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">mobile phone</label>
                    <input type="text" minlength="10" maxlength="10" class="form-control" id="exampleInputname" placeholder="mobile phone numer" name="mobile">
                  </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">websiteurl</label>
                    <input type="url" class="form-control" id="exampleInputname" placeholder="website url" name="website">
                  </div>
                   <div class="form-group">
                    <label for="exampleInputEmail1">Institution Address</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="city" name="city">
                    <input type="text" class="form-control" id="exampleInputname" placeholder="District" name="district">
                    <input type="text" class="form-control" id="exampleInputname" placeholder="State" name="state">
                    <input type="text" class="form-control" id="exampleInputname" placeholder="Country" name="country">
                    <input type="text" class="form-control" id="exampleInputname" placeholder="pincode" name="pincode">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">COntact person Name</label>
                    <input type="text" class="form-control" id="exampleInputname" placeholder="Contact person name" name="contactname">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Contact person phone</label>
                    <input type="text" minlength="10" maxlength="10" class="form-control" id="exampleInputname" placeholder="contack person phone numer" name="contactphone">
                  </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Contact person's Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="contact person email" name="contactemail">
                  </div> --}}
                  
                  {{!-- <div class="form-group"> --}}
                  
                  {{!-- <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <div class="input-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="exampleInputFile">
                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                      </div>
                      <div class="input-group-append">
                        <span class="input-group-text">Upload</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                  </div>
                </div> --}}
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
            
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">SecureBus</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

