
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <!-- Preloader -->
  

  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        {{!-- <h5 class="mb-2">Basic Details</h5> --}}
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Basic Details </h3>
              </div>
              {{#if pc}}
              <input type="text" name="pc" id="pc" value="password changed" hidden>
              
              <script>
                var pc=document.getElementById("pc").value
                alert(pc)
              </script>
              {{/if}}
              <!-- /.card-header -->
              <div class="card-body">
                        <div class="row margin" style="font-size: larger;">
                            {{#each res1}}
                            <div class="col-sm-6">
                            <img src="../../images/avatar5.png" alt="no image" />
                            </div>
                            <div class="col-sm-6">
                                {{!-- <div class="row margin">
                                    Admission number:{{this.admissionnumber}}
                                </div> --}}
                                <div class="row margin">
                                    Name: {{this.name}} {{this.lastname}}
                                </div>
                                {{!-- <div class="row margin">
                                    Department: {{this.departmentname}}
                                </div> --}}
                                <div class="row margin">
                                    Phone number: {{this.mobile}}
                                </div>
                                <div class="row margin">
                                    Email: {{this.email}}
                                </div>
                                <div class="row margin">
                                    Address: {{this.city}} {{this.district}} {{this.country}} {{this.pincode}}
                                </div>
                                {{!-- <div class="row margin">
                                    Class: {{this.classname}}
                                </div> --}}
                                <div class="row margin" id="do">
                                   
                                </div>
                                {{!-- <input type="text" name="doj" id="doj" value="{{this.doj}}" hidden>
                                <script>
                                  var r=document.getElementById("doj").value
                                  var r1=String(r)
                                  var r2=new Date(r1)
                                  const formattedDate = r2.toLocaleDateString('en-GB');
                                  var d=document.getElementById("do");
                                  //d.innerHTML="date of Joining: " +formattedDate
                                  //alert(r)
                                  
                                </script> --}}
                                <div class="row margin">
                                    Website: {{this.website}}
                                </div>
                                 
                            </div>
                            <br><br>
                            <hr>
                            
                        </div>
                        <br>
                        <br>
                        <hr>
                        <div class="row margin">
                        
                            <form action="/teacher/editprofile" method="post" style="margin-left: 10px;">
                            <input type="text" name="staffid" id="studentid" value="{{this.staffid}}" hidden>
                                <button type="submit" formmethod="post" class="btn btn-primary">Edit Profile</button>        
                        </form>
                        
                        <form action="/teacher/changepassword"  method="post" style="margin-left: 10px;">
                            <input type="text" name="staffid" id="" value="{{this.staffid}}" hidden>
                            <input type="email" name="email" id="" value="{{this.email}}" hidden>
                            <button type="submit" formmethod="post" class="btn btn-success">Change password</button>
                        </form>
                        
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
       {{/each}}

       

       </div>
       
</div>


       

       </div>
        <!-- /.row -->
        <!-- /.row -->
        
        <!-- =========================================================== -->
        
        <!-- /.row -->

         
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.2.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">SecureBus</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>